body {
  margin: 0 10% 0 10%;
  background-image: url("./images/topography.svg"),
    linear-gradient(110deg, darkcyan, #6d47d9);
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

.header {
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #2c2c2c;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 0px;
  margin-top: 50px;
}

h2 {
  font-size: 1.1em;
  font-weight: 500;
  font-style: italic;
}

.content-img {
  width: 100%;
}

hr {
  border-color: rgba(173, 216, 230, 0.9);
  box-shadow: 3px 3px 10px 1px #22222231;
}

//navbar

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

//header

.header {
  color: white;
  text-align: center;
  padding: 0px 10px 10px 10px;
  margin-bottom: 0px;
  height: 15vh;
}

//footer

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.legal-links {
  text-decoration: none;
  font-size: 0.8em;
  color: rgba(173, 216, 230, 0.459);
}

.legal-links:hover {
  text-decoration: underline;
}

.nav-logo {
  text-decoration: none;
  padding-left: 15px;
  color: white;
  font-weight: 900;
}

.link {
  text-decoration: none;
  padding-left: 15px;
  color: rgba(173, 216, 230, 0.9);
}

.link:hover {
  text-decoration: underline;
}

.nav-logo {
  text-decoration: none;
  font-size: 1em;
  color: rgba(173, 216, 230, 0.9);
}

.nav-text {
  text-align: right;
}

//main > container > grid-img + grid-txt

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.container {
  padding: 15px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  background: rgba(0, 54, 54, 0.6);
  color: white;
  box-shadow: 3px 3px 10px 1px #222222;
  transition-duration: 300ms;
  text-align: center;
  transition-timing-function: ease-in-out;
  border-radius: 2px;
  cursor: pointer;
}

.container:hover {
  opacity: 0.7;
}
